<div class="about">
  <h1 class="about-title"> О проекте </h1>
  <div class="about-text">
    <p>
      <span class="highlight">Best Music</span>
      - сервис, на котором собраны лучшие песни различных жанров. Начиная от house и rock, заканчивая death metal и old-school hip-hop.
    </p>
    <p>
      Свою музыку может предложить каждый, для этого достаточно вставить
      <%= link_to "Youtube ссылку", "http://www.youtube.com", :target=>"_blank" %>
      в поле добавить, и  если музыка действительно сносит крышу, её увидят все.
    </p>
    <p>Не оставайся в стороне, добавь свои любимые клипы и песни, поделись ими с каждым.</p>
    <p>А если ты хорошо разбираешься в музыке, ты найдешь множество интересных исполнителей.</p>
    <p>Для вашего удобства под каждым видео размещены музыкальные жанры исполнителей.</p>
    <p>
      И вы всегда сможете связаться со мной по почте
      <span class="highlight">tencet@yandex.ru</span>
    </p>
  </div>
</div>
