
  <% if post.suit && post.created_at < Time.now %>

  <div class="post-main">

    <h2 class="featurette-heading"> <%= post.title%> </h2>

    <div class="post-body">

      <table class="post">
          <%if post.isNew && post.created_at + 60 * 60 * 24 * 15 > Time.now %>
          <tr>
          <td>NEW </td>
          </tr>
          <% end %>

          <tr><td colspan="4"><iframe width="555" height="415" src = "<%= post.url %>"  frameborder="0" allowfullscreen></iframe></td> </tr>

      </table>
    </div>

    <div class="lead post-tags">
      <%= post.tags %>
    </div>


    <hr class="featurette-divider">

  </div>

  <% end %>
