body{
  background: url('/background.png') repeat center center scroll;
}

.about{
  margin-top: 65px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align: justify;


}

.about-title{
  font-size: 60px;
  text-align: center;

  padding-bottom: 15px;
}

.about-text p{
  font-size: 25px;
  line-height: 140%;

  text-indent: 30px;
}

.about-text a{
  color: blueviolet;
}

.about-text a:visited {
  color: blueviolet;
}

.highlight{
  color:red;
}
