// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-edit{
  font-size: 25px;

  margin-top: 85px;

  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form{
  margin: 25px 0;

}

input{
  margin: 15px 0 ;

}

.edit-check-box{
  margin-left: 20px;
}

.edit-check-box-label{
  margin-right: 5px;
}

.edit-submit{
  margin-top: 0px;
}
