.admin-featurette-heading
{
  font-size: 20px;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.admin-post-new {
  color: red;
}

.admin-post-body
{
  margin: 30px 0 20px 0;

  width: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.admin-post-tags
{
  font-size: 15px;

  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  margin-bottom: 40px;
}

.admin-post-conrolls
{
  font-size: 25px;

  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.admin-featurette-divider {
    margin-top: 40px;
}

