<!DOCTYPE html>
<html>
<head>
  <title>TheBestMusic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!-- Script of theme for youtube -->
<script data-cfasync="false">
(function(a,b,c,d,e){var f=a+"Q";b[a]=b[a]||{};b[a][d]=b[a][d]||function(){
(b[f]=b[f]||[]).push(arguments)};a=c.getElementsByTagName(e)[0];c=c.createElement(e);c.async=1;
c.src="//static.reembed.com/data/scripts/g_5341_a719b8d319f142a8e63c9ce193b818e8.js";
a.parentNode.insertBefore(c,a)})("reEmbed",window,document,"setupPlaylist","script");
</script> 

</head>
<body>

<div class="posts">
  <%= yield %>
</div>

</body>
</html>
